@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
h1 {
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 40px;
    padding: 0 0 0 30px;
    margin: 10px 0;
}

h2 {
    color: #FF7517;
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
}

h3 {
    color: darkslategray;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
}

p {
    color: darkslategray;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    padding: 20px;
    text-align: justify;
}

body {
    background: white;
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

a {
    color: #F59F16;
    font-size: 15px;
}

.main {
    width: 100%;
    max-width: 600px;
    padding: 150px 0 0 0;
    margin: 0 auto;
}

.hero__img {
    width: 200px;
    margin: 20px;
    display: block;
    float: left;
}

.navigation {
    width: 100%;
    position: fixed;
    z-index: 2;
    background: #E84420;
    padding: 10px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.menu {
    margin: 0;
    padding: 0 0 10px 30px;
}

.top {
    position: fixed;
    bottom: 10px;
    right: 10px;
    font-size: 15px;
    padding: 5px;
    font-family: 'Roboto', sans-serif;
    background: #FF7517;
    text-decoration: none;
    color: white;
}

.tresc {
    clear: both;
}